body{
    margin: 0;
    overflow: hidden;
}
.father{
    display: flex;
}
.one{
    width: 500px;
    background: yellow;
    height: 200px;
}
.two{
    width: calc(100% - 500px );
    background: #f8a74e;
    height: 40px;
}
.three{
    width: calc(100% - 500px  );
    background: red;
}