<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet" media="(max-width:500px)" href="anzhuo.css">-->
    <!--<link rel="stylesheet" media="(min-width:500px)" href="pc.css">-->
</head>
<body>
<div id="app">
    {{ message }}
    <div>你好{{name}}</div>
</div>
<div id="test">
    {{arr}}
</div>
<div id="app-2">
  <span v-bind:title="message">
    鼠标悬停几秒钟查看此处动态绑定的提示信息！
  </span>
</div>
<div id="app3">
    <p v-if="see">hello</p>
</div>
<div id="app4">
    <ol>
        <li v-for="arr in test">
            {{arr}}
        </li>
    </ol>
</div>
<div id="app-5">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>
<div id="app6">
    <p>{{ message }}</p>
    <button v-on:click="message +=1">逆转消息</button>
</div>
<div id="app7">
    <div v-if="yes">
        <p>这是一段话</p>
        <p>我</p>
        <p>是</p>
        <p>你</p>
        <p>爹</p>
        <p>啊</p>
    </div>
    <div v-else>
        <div>false</div>
    </div>
</div>

<img src="https://liuchaoimg123.oss-cn-beijing.aliyuncs.com/img/1-1206060SQ1600.jpg"/><!--<img src="img/1-1P521224534506.jpg" height="1080"width="1920"/>-->
<!--<img src="img/01d1a0575f77cc0000012e7ebe4baf.jpg@1280w_1l_0o_100sh.jpg" height="765" width="1280"/>-->
<!--<img src="img/01ea7a5b457b30a8012036be44bf03.jpg@3000w_1l_2o_100sh.jpg" height="1169" width="3000"/>-->
<!--<img src="img/1e30e924b899a901124bd1a11d950a7b0208f52f.png" height="1080" width="1920"/>-->
<!--<img src="img/2fdda3cc7cd98d1071023140233fb80e7aec90e8.jpg" height="1080" width="1920"/>-->
<!--<img src="img/46a465f4271cead89c11a4d3ed36567fb1a06745.jpg" height="1080" width="1920"/>-->
<!--<img src="img/4k-wallpaper-galaxy-space-stars-3840-2160.jpg" height="2160" width="3840"/>-->
</body>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script src="vue.js"></script>
</html>